@media (max-width: 280px) {
  .fontbox {
    width: 40px;
    height: 40px;
  }

  .usefont span {
    font-size: 13px;
  }

  .portfolio-modal__link-box a {
    font-size: 12px;
  }
}

@media (min-width: 280px) and (max-width: 767px) {
  * {
    box-sizing: border-box;
  }

  .component-content-container {
    width: 100%;
    text-align: center;
  }

  .component-imagebox-common {
    padding: 20px;
    margin-bottom: 100px;
  }

  .component-content-container img {
    width: 100%;
  }

  body.overflow {
    overflow: hidden;
  }

  .aboutme h1,
  .skills h1,
  .learn-skills-h1,
  .portfolio h1 {
    font-size: 38px;
  }

  .gototop {
    display: none;
  }

  .progress-bar-box,
  .progress-bar {
    display: none;
  }

  .progress-bar-box2,
  .progress-bar2 {
    display: flex;
  }

  /* header section */
  .header-responsive {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    z-index: 99998;
    top: 5px;
    left: 0;
    width: 100%;
    padding: 20px;
    transition: 0.3s;
  }

  .header-responsive.change {
    background-color: #ffffff;
  }

  .header-content-responsive {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 30px;
  }

  .drawer-open {
    font-size: 24px;
  }

  .drawer-close {
    font-size: 28px;
  }

  .drawer-content {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 99999;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    background-color: #ffffff;
    transform: translateX(100%);
    transition: 0.3s;
  }

  .inner-responsive {
    width: 100%;
    padding: 25px 20px 20px 20px;
  }

  .drawer-content.show {
    transform: translateX(0);
  }

  .drawer-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .drawer-nav li {
    font-size: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    line-height: 3rem;
    width: 180px;
  }

  .drawer-nav li a {
    display: inline-block;
    width: 100%;
    height: 100%;
  }

  .nav {
    display: none;
  }

  .nav li {
    margin: 0;
  }

  .side {
    display: none;
  }

  .name h1 {
    font-size: 40px;
  }

  .namebox {
    width: 250px;
    height: 250px;
  }

  .namebox h1 {
    font-size: 250px;
  }

  .inner {
    width: 100%;
  }

  .side-container {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }

  .side li a {
    font-size: 14px;
  }

  .home-back {
    width: 45px;
    height: 45px;
  }

  .side li i {
    font-size: 18px;
  }

  /*about section */
  .aboutme {
    margin-top: 50px;
  }

  .aboutme-content-top {
    flex-direction: column;
    margin-top: 50px;
  }

  .aboutme-content-bottom {
    flex-direction: column;
    align-items: center;
  }

  .aboutme-content-bottom__info-left-box h2 {
    text-align: center;
  }

  .aboutme-content-bottom__info-right-box h2 {
    text-align: center;
  }

  .aboutme-content-bottom__info-left-box {
    margin-bottom: 20px;
  }

  .aboutme-container hr {
    width: 100%;
  }

  .aboutme-content-top {
    margin-bottom: 0;
  }

  .aboutme-content-top__image {
    width: 100%;
    padding: 30px;
  }

  .aboutme-content-top__image h2 {
    font-size: 24px;
  }

  .aboutme-content-top__text {
    padding: 20px;
    font-size: 15px;
    margin-top: 20px;
  }

  .aboutme-content-top__text br {
    display: none !important;
  }

  .aboutme-content-top__text span {
    display: block;
    font-size: 16px;
  }

  .aboutme-content-bottom {
    padding: 0 10px;
    font-size: 15px;
  }

  /*skills section */
  .skills {
    margin-top: 50px;
  }

  .skills-content {
    flex-direction: column;
  }

  .skills-box {
    width: 100%;
    padding: 0 20px;
    text-align: center;
    font-size: 16px;
  }

  .jquery-box a {
    width: 100%;
    height: 100%;
  }

  .html-content br {
    display: none !important;
  }

  .css-content br {
    display: none !important;
  }

  .js-content br {
    display: none !important;
  }

  .skills-css {
    text-align: center;
  }

  .learn-skills-box {
    flex-direction: column;
    width: 100%;
    padding: 20px;
  }

  .learn-skills__beginner,
  .learn-skills__want {
    width: 100%;
    margin: 0;
  }

  .learn-skills__beginner {
    margin-bottom: 20px;
  }

  .want-imgbox a {
    height: 100%;
  }

  .learn-skills__beginner h3 {
    margin: 0;
  }

  .learn-skills__want h3 {
    margin-bottom: 20px;
  }

  .want-imgbox {
    width: 100%;
  }

  /*portfolio section */
  .portfolio {
    margin-top: 50px;
  }

  .portfolio-modal__container {
    width: 95%;
    height: 80%;
  }

  .portfolio-modal__content hr {
    width: 98%;
  }

  .portfolio-modal__content__font {
    width: 100%;
  }

  .portfolio-modal__container h1 {
    font-size: 28px;
  }

  .portfolio-modal__content__desc p {
    font-size: 14px;
  }

  .modal-container h1 {
    font-size: 24px;
  }

  .player-image-box {
    width: 100%;
    height: 500px;
    flex-direction: column;
  }

  .player-image-box img {
    width: 100%;
    height: 100%;
    margin: 20px 0;
  }

  .player-image-box img:first-child {
    margin-bottom: 0;
  }

  .portfolio-modal__content {
    margin-bottom: 60px;
  }

  .portfolio-modal__content__link {
    width: 100%;
  }

  .portfolio-modal__link-box {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .portfolio-modal__link-box a {
    margin-right: 0;
    margin-bottom: 10px;
    width: 50%;
  }

  .portfolio-modal__link-box a:last-child {
    margin-bottom: 0;
  }

  .samil-side-content {
    flex-direction: column;
  }

  .samil-newside-image {
    align-items: flex-start;
    height: 200px;
    margin: 20px 0;
  }

  .samil-newside-image img {
    height: 100%;
    margin: 0;
  }

  .existing-side,
  .new-side {
    margin-top: 0;
    margin-bottom: 0;
  }

  .usefont {
    margin: 0 10px;
  }

  .slide {
    width: 100%;
  }

  .swiper {
    width: 100%;
    height: 400px;
    padding: 0 20px;
  }

  .swiper-wrapper {
    height: 370px;
  }

  .swiper-slide__hover {
    font-size: 14px;
  }

  .detail-btn {
    width: 120px;
  }

  .swiper-horizontal > .swiper-scrollbar,
  .swiper-scrollbar.swiper-scrollbar-horizontal {
    width: calc(100% - 40px);
    left: 20px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }

  /*contact section */
  .contact-box__text {
    margin: 0;
  }

  .contact-box__text h2 {
    font-size: 24px;
  }

  .contact-container {
    padding: 30px 0;
  }

  .email-link {
    font-size: 24px;
    margin-bottom: 30px;
  }

  .link-btn {
    flex-direction: column;
  }

  .link-btn a {
    margin-right: 0;
    margin-bottom: 20px;
    padding: 8px 15px;
    font-size: 16px;
    width: 150%;
  }

  .link-btn a:last-child {
    margin-bottom: 0;
  }

  /* footer section */
  .footer-container span {
    font-size: 15px;
  }

  .footer-container {
    line-height: 1.7rem;
    padding: 15px;
  }

  .footer-container br {
    display: block !important;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  * {
    box-sizing: border-box;
  }

  .inner {
    width: 100%;
  }

  .gototop {
    display: none;
  }

  .progress-bar-box,
  .progress-bar {
    display: none;
  }

  .progress-bar-box2,
  .progress-bar2 {
    display: flex;
  }

  .component-content-container {
    width: 100%;
    text-align: center;
  }

  .component-content-container img {
    width: 100%;
  }

  /* header section */
  .nav-responsive {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 50px;
    margin-top: 5px;
    background-color: #ffffff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  }

  .nav-responsive li {
    margin-right: 20px;
  }

  .nav-responsive li a:hover {
    color: rgb(78, 78, 78);
  }

  .nav,
  .side {
    display: none;
  }

  /* about section */
  .aboutme-container hr {
    width: 100%;
  }

  /* skills section */
  .skills-box {
    padding: 0 20px;
  }

  .learn-skills__beginner,
  .learn-skills__want {
    margin: 0;
  }

  .want-imgbox a {
    width: 100px;
    height: 100px;
  }

  .jquery-box a {
    width: 100%;
    height: 100px;
  }

  /* portfolio section */
  .portfolio-modal__container {
    width: 80%;
    height: 80%;
  }

  .slide {
    width: 100%;
  }

  .swiper {
    width: 100%;
    padding: 0 50px;
  }

  .swiper-horizontal > .swiper-scrollbar,
  .swiper-scrollbar.swiper-scrollbar-horizontal {
    width: calc(100% - 100px);
    left: 50px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }

  .portfolio-modal__content__link {
    width: 100%;
  }

  .portfolio-modal__link-box {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .portfolio-modal__link-box a {
    margin-right: 0;
    margin-bottom: 10px;
    width: 30%;
  }

  /* contact section */
  .email-link {
    font-size: 38px;
    margin-bottom: 30px;
  }

  .link-btn {
    flex-direction: column;
  }

  .link-btn a {
    margin-right: 0;
    margin-bottom: 20px;
    padding: 8px 15px;
    font-size: 28px;
    width: 200%;
  }

  .link-btn a:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .inner {
    width: 100%;
  }

  .progress-bar-box,
  .progress-bar {
    display: none;
  }

  .progress-bar-box2,
  .progress-bar2 {
    display: flex;
  }

  .component-content-container {
    width: 100%;
    text-align: center;
  }

  .component-content-container img {
    width: 100%;
  }

  /*header section */
  .nav-responsive {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 50px;
    margin-top: 5px;
    background-color: #ffffff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  }

  .nav-responsive li {
    margin-right: 20px;
  }

  .nav-responsive li a:hover {
    color: rgb(78, 78, 78);
  }

  .side,
  .nav {
    display: none;
  }

  /*portfolio section */
  .slide {
    width: 100%;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}
