@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&family=Sunflower:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

@import "./common.css";
@import "./header.css";
@import "./home.css";
@import "./aboutme.css";
@import "./skills.css";
@import "./portfolio.css";
@import "./contact.css";
@import "./footer.css";
@import "./progress.css";
@import "./gototop.css";

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  background-color: #ffffff;
  font-family: "Sunflower", sans-serif;
  width: 100%;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #101820;
  border-radius: 30px;
}

body::-webkit-scrollbar-track {
  background-color: #efeeec;
}

.modal-container::-webkit-scrollbar {
  width: 10px;
}

.modal-container::-webkit-scrollbar-thumb {
  background-color: #101820;
  border-radius: 30px;
}

.modal-container::-webkit-scrollbar-track {
  background-color: #efeeec;
}

.inner {
  width: 1250px;
  margin: 0 auto;
}

.header-responsive,
.drawer-content {
  display: none;
}
